*{
  margin: 0;padding: .5rem;
  box-sizing: border-box;
  transition: all .5s linear;
  border-radius: 1rem;
  border: none;

}
body{
  background: linear-gradient(90deg,white,grey,white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 500px;
  border: 5px solid blue;
  background-color: rgba(255, 255, 255, 0.312);
}
.TodoItem{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 5px solid blue;
  margin: 2px;
}
.TodoItem .delete{
  color: rgb(253, 8, 53);
  background-color: blue;
  cursor: pointer;
  transform: matrix(30deg);
}
#delete{
  border:5px solid rgb(253, 8, 53);
  background-color: rgb(253, 8, 53,0.195);
  color: white;
  text-decoration: line-through;
}
#delete .delete{
  background-color: rgb(253, 8, 53);
  color: black;
}
.checkbox{
  width: 20px;
  cursor: pointer;
}
.newtodo{
  background-color: rgba(255, 255, 255, 0.304);
  width: 83%;
  border: 5px solid blue;
}
.btn{
  background-color: rgba(0, 0, 255, 0.195);
  border: 5px solid blue;
  margin-left:5%;
  cursor: pointer;
}
.done{
  border: 5px solid rgb(46, 242, 11);
  background-color: rgba(46, 242, 11, 0.193);
  color: white;
}
